# Created by .ignore support plugin (hsz.mobi)
.idea/
/components/horus.log
data/horus.conf
horus/horus.log
.DS_Store
horus/.DS_Store
/dist/
/src/horus/components/horus.log
*.pyc
/scripts/horus.log
/output/temp/
/src/horus/test/
build/