Django==1.10.5
langdetect==1.0.7
matplotlib==1.5.3
microsofttranslator==0.8
nltk==3.2.1
numpy==1.11.1
requests==2.12.4
textblob==0.11.1
urllib3==1.18.1
cv2==1.0
pandas==0.19.2
scikit_learn==0.18.1
translate==2.0.0
